<h1><%= @artist.name %></h1>
  <br>
  <h3> List of Songs </h3>
  <br>
    <ul>
      <% @artist.songs.each do |song| %>
        <li> <p><b>Song Title:</b> <%= song.name %></p><p><b>Album:</b> <%= song.album %></p> <p><b>Released In:</b> <%= song.year %></p> <hr> </li>
      <% end %>
    </ul>
